.navbar{
    background-color: green;
    border-bottom: 5px solid rgb(215, 190, 47);
}

#brand{
    color: rgb(196, 173, 45);
}

#comingsoon{
    color: rgb(196, 173, 45);
}

.background{
    background-image: url(https://cdn.wallpapersafari.com/1/43/VRjXCc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    border-bottom: 5px solid rgb(215, 190, 47);
}

.background2{
    background-image: url(https://images8.alphacoders.com/880/thumb-1920-880522.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    border-bottom: 5px solid rgb(215, 190, 47);
}

.product{
    background-image: url(Screenshot\ 2023-03-08\ at\ 02.46.20.png);
    border-bottom: 5px solid rgb(215, 190, 47);
}

#cart-container {
    width: 300px;
    height: 100%;
    z-index: 100;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
}
  
#toggle-cart {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: fixed;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    z-index: 101;
}

.main-content {
    margin-left: 300px;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
